{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./app/globals.css",
  "importOrder": [
    "^@/app/components/(.*)$",
    "^@/app/(.*)$",
    "^@/(.*)$",
    "^./",
    "^../",
    "^@/public/(.*)$"
  ],
  "importOrderSeparation": true
}
