@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --theme-raisin-100: oklch(92% 0.007 330);
  --theme-raisin-200: oklch(87% 0.008 330);
  --theme-raisin-300: oklch(75% 0.009 320);
  --theme-raisin-400: oklch(58% 0.014 315);
  --theme-raisin-500: oklch(47% 0.016 310);
  --theme-raisin-600: oklch(39% 0.014 315);
  --theme-raisin-700: oklch(33% 0.011 317.25);
  --theme-raisin-800: oklch(29% 0.009 320);
  --theme-raisin-900: oklch(25.5% 0.008 330);
  --theme-raisin-950: oklch(17.5% 0.006 336);

  --theme-stone-50: oklch(99.5% 0.003 95);
  --theme-stone-100: oklch(95% 0.01 95);
  --theme-stone-200: oklch(94.16% 0.0148 98.29);
  --theme-stone-300: oklch(92% 0.015 99.3);
  --theme-stone-350: oklch(89.5% 0.016 100);
  --theme-stone-400: oklch(87% 0.016 100);
  --theme-stone-500: oklch(73% 0.014 95);
  --theme-stone-600: oklch(50% 0.01 92);
  --theme-stone-700: oklch(40% 0.008 90);
  --theme-stone-800: oklch(33% 0.008 88);
  --theme-stone-900: oklch(29% 0.007 88);

  --theme-300: oklch(75.7% 0.1454 41.7);
  --theme: oklch(65.5% 0.1995 41.5);
  --theme-700: oklch(0.567 0.1892 41.5);
  --theme-light: var(--theme-stone-200);
  --theme-dark: var(--theme-raisin-900);

  --surface: var(--theme-light);
  --element: var(--theme-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface: var(--theme-dark);
    --element: var(--theme-light);
  }
}

@theme {
  --animate-shake: shake 0.4s ease-out;
  @keyframes shake {
    0% {
      transform: skewX(-10deg);
    }
    25% {
      transform: skewX(10deg);
    }
    50% {
      transform: skewX(-10deg);
    }
    75% {
      transform: skewX(10deg);
    }
    100% {
      transform: skewX(-10deg);
    }
  }
}

@theme inline {
  --color-raisin-100: var(--theme-raisin-100);
  --color-raisin-200: var(--theme-raisin-200);
  --color-raisin-300: var(--theme-raisin-300);
  --color-raisin-400: var(--theme-raisin-400);
  --color-raisin-500: var(--theme-raisin-500);
  --color-raisin-600: var(--theme-raisin-600);
  --color-raisin-700: var(--theme-raisin-700);
  --color-raisin-800: var(--theme-raisin-800);
  --color-raisin-900: var(--theme-raisin-900);
  --color-raisin-950: var(--theme-raisin-950);

  --color-stone-50: var(--theme-stone-50);
  --color-stone-100: var(--theme-stone-100);
  --color-stone-200: var(--theme-stone-200);
  --color-stone-300: var(--theme-stone-300);
  --color-stone-350: var(--theme-stone-350);
  --color-stone-400: var(--theme-stone-400);
  --color-stone-500: var(--theme-stone-500);
  --color-stone-600: var(--theme-stone-600);
  --color-stone-700: var(--theme-stone-700);
  --color-stone-800: var(--theme-stone-800);
  --color-stone-900: var(--theme-stone-900);

  --color-theme: var(--theme);
  --color-surface: var(--surface);
  --color-element: var(--element);

  --font-horizon: var(--nextjs-font-horizon);
  --font-horizon-outlined: var(--nextjs-font-horizon-outlined);
  --font-theme-sans: var(--nextjs-font-theme-sans), var(--font-sans);
  --font-theme-serif: var(--nextjs-font-theme-serif), var(--font-serif);
  --font-theme-mono: var(--nextjs-font-theme-mono), var(--font-mono);
}

::-moz-selection {
  background-color: var(--color-theme);
  color: var(--color-surface);
}
::selection {
  background-color: var(--color-theme);
  color: var(--color-surface);
}
::-webkit-selection {
  background-color: var(--color-theme);
  color: var(--color-surface);
}

@utility text-highlight {
  font-weight: 400;
  white-space: nowrap;
  background-color: var(--color-theme);
  color: var(--theme-stone-200);
  -webkit-text-stroke-width: 0.025em;
}

@utility text-outline-theme {
  -webkit-text-stroke-width: 0.05em;
  -webkit-text-stroke-color: var(--color-theme);
}

.header-grid {
  @apply grid gap-x-8 gap-y-6;
}

@utility page-margin {
  margin-inline: 4vw;

  @variant 2xl {
    margin-inline: 8vw;
  }
}

.landing-nav {
  /* https://chrisburnell.com/clamp-calculator/?font-size-root=16&size-min=16&size-max=20&viewport-min=320&viewport-max=400&viewport-units=vw */
  font-size: clamp(1rem, 0rem + 5vw, 1.25rem);
}

.default-nav {
  /* https://chrisburnell.com/clamp-calculator/?font-size-root=16&size-min=24&size-max=30&viewport-min=375&viewport-max=640&viewport-units=vw */
  font-size: clamp(1.5rem, 0.969rem + 2.264vw, 1.875rem);
}

.landing-header {
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto max-content repeat(3, auto);
}

.default-header {
  grid-template-columns: 1fr auto 1fr;
}

@media (width >= theme(--breakpoint-sm)) {
  .default-nav {
    @apply text-2xl;
  }
}

/* Switch to landscape layout */
@media (width >= theme(--breakpoint-md)) {
  .landing-nav {
    /* https://chrisburnell.com/clamp-calculator/?font-size-root=16&size-min=16&size-max=20&viewport-min=768&viewport-max=1024&viewport-units=vw */
    font-size: clamp(1rem, 0.25rem + 1.563vw, 1.25rem);
  }

  /* Same as landing-nav from md */
  .default-nav {
    font-size: clamp(1rem, 0.25rem + 1.563vw, 1.25rem);
  }

  .landing-header {
    grid-template-columns: auto auto 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .default-header {
    grid-template-columns: auto 1fr;
  }
}

@media (width >= theme(--breakpoint-lg)) {
  .landing-nav {
    @apply text-xl;
  }

  .default-nav {
    @apply text-xl;
  }

  .landing-header {
    grid-template-columns: auto auto 1fr auto;
  }
}

@media (width >= theme(--breakpoint-xl)) {
  .landing-nav {
    @apply text-2xl;
  }

  .default-nav {
    @apply text-2xl;
  }
}

.landing-highlight {
  color: var(--color-element);
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    var(--color-surface) 50%,
    var(--color-theme) 50%
  );
  transition: background-position 1s;
}

.landing-member:hover .landing-highlight,
.landing-achievements:hover .landing-highlight {
  color: var(--theme-stone-200);
  background-position: -100% 0;
}

/* Custom select arrow to remove ugly Safari styling and unify the element across browsers*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg width='32px' height='32px' viewBox='0 0 24 24' fill='%23494843' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z'/></svg>");
  background-size: 16px;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;

  background-color: var(--theme-stone-50);
  @variant dark {
    background-image: url("data:image/svg+xml;utf8,<svg width='32px' height='32px' viewBox='0 0 24 24' fill='%237d7880' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z'/></svg>");
    background-color: var(--theme-raisin-800);
  }
}
