@import "tailwindcss";

@theme {
  --color-theme: #ef5902;
  --color-theme-light: #ebebdf;
  --color-theme-dark: #262124;

  --animate-shake: shake 0.4s ease-out;
  @keyframes shake {
    0% {
      transform: skewX(-10deg);
    }
    25% {
      transform: skewX(10deg);
    }
    50% {
      transform: skewX(-10deg);
    }
    75% {
      transform: skewX(10deg);
    }
    100% {
      transform: skewX(-10deg);
    }
  }
}

@theme inline {
  --font-horizon: var(--nextjs-font-horizon);
  --font-horizon-outlined: var(--nextjs-font-horizon-outlined);
  --font-theme-sans: var(--nextjs-font-theme-sans), var(--font-sans);
  --font-theme-serif: var(--nextjs-font-theme-serif), var(--font-serif);
}

::-moz-selection {
  background-color: var(--color-theme);

  color: var(--color-theme-light);
  @variant dark {
    color: var(--color-theme-dark);
  }
}
::selection {
  background-color: var(--color-theme);

  color: var(--color-theme-light);
  @variant dark {
    color: var(--color-theme-dark);
  }
}
::-webkit-selection {
  background-color: var(--color-theme);

  color: var(--color-theme-light);
  @variant dark {
    color: var(--color-theme-dark);
  }
}

@utility text-highlight {
  font-weight: 400;
  white-space: nowrap;
  background-color: var(--color-theme);

  color: var(--color-theme-light);
  @variant dark {
    color: var(--color-theme-dark);
  }
}

.nav-autoscale {
  /* https://chrisburnell.com/clamp-calculator/?font-size-root=16&size-min=16&size-max=20&viewport-min=320&viewport-max=400&viewport-units=vw */
  font-size: clamp(1rem, 0rem + 5vw, 1.25rem);
}

.landing-header-grid {
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto max-content repeat(3, auto);
}

/* Switch to landscape layout */
@media (width >= theme(--breakpoint-md)) {
  .nav-autoscale {
    /* https://chrisburnell.com/clamp-calculator/?font-size-root=16&size-min=16&size-max=20&viewport-min=768&viewport-max=1024&viewport-units=vw */
    font-size: clamp(1rem, 0.25rem + 1.563vw, 1.25rem);
  }

  .landing-header-grid {
    grid-template-columns: auto auto 1fr;
    grid-template-rows: repeat(3, auto);
  }
}

@media (width >= theme(--breakpoint-lg)) {
  .nav-autoscale {
    @apply text-xl;
  }
}

@media (width >= theme(--breakpoint-xl)) {
  .nav-autoscale {
    @apply text-2xl;
  }
}
